#### Average number of aces per match

In [1]:
import pandas as pd
import numpy as np
from glob import glob
import os

In [2]:
days_to_query = os.listdir("../data/raw/tennis_data")
statistics_load_files = []

for day in days_to_query:
    statistics_load_files.extend(
        glob(
            f"../data/raw/tennis_data/{day}/data/raw/raw_statistics_parquet/*.parquet"
        )
    )

stat_df = pd.concat([pd.read_parquet(file) for file in statistics_load_files], ignore_index=True)
display(stat_df)

,match_id,period,statistic_category_name,statistic_name,home_stat,away_stat,compare_code,statistic_type,value_type,home_value,away_value,home_total,away_total
0,11998445,ALL,service,aces,12,6,1,positive,event,12,6,NaN,NaN
1,11998445,ALL,service,double_faults,2,7,2,negative,event,2,7,NaN,NaN
2,11998445,ALL,service,first_serve,57/101 (56%),53/90 (59%),2,positive,team,57,53,101.0,90.0
3,11998445,ALL,service,second_serve,42/44 (95%),30/37 (81%),1,positive,team,42,30,44.0,37.0
4,11998445,ALL,service,first_serve_points,42/57 (74%),39/53 (74%),1,positive,team,42,39,57.0,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1358229,12213803,2ND,games,max_games_in_a_row,4,1,1,positive,event,4,1,NaN,NaN
1358230,12213803,2ND,return,first_serve_return_points,10/16 (62%),4/13 (30%),1,positive,team,10,4,16.0,13.0
1358231,12213803,2ND,return,second_serve_return_points,8/14 (57%),6/13 (46%),1,positive,team,8,6,14.0,13.0
1358232,12213803,2ND,return,return_games_played,4,3,1,positive,event,4,3,NaN,NaN
1358233,12213803,2ND,return,break_points_converted,3,0,1,positive,event,3,0,NaN,NaN

In [5]:
aces_df = stat_df[stat_df["statistic_name"] == 'aces'].copy()
count_aces = aces_df["statistic_name"].count()
print(f"Total amount of aces: {count_aces}")

total_match = stat_df['match_id'].drop_duplicates().count()
print(f"Total amont of match: {total_match}")

aces_df['total_aces'] = aces_df['home_value'] + aces_df['away_value']
aces_per_match = aces_df.groupby('match_id')['total_aces'].sum()
mean_aces = aces_per_match.mean()

print("Average number of aces per match:", mean_aces)

Total amount of aces: 76257
Total amont of match: 11393
Average number of aces per match: 21.657388708402845